{% extends 'app1/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/app1/style.css' %}"> 
</head>
<body>
    {% block content %}
     <h1>this is home page</h1> 
    <section id="regler" >
        <aside id="aside">
           <div id="d1">Innovative, <br />wireless home <br />speaker</div>
           <p>Designed to be positioned up against the wall on <br /> a shelf or side table</p>
           <button>SHOP NOW</button>
        </aside>
    </section>

     {% endblock %}
     <!-- <section id="regler2">
        <center>
           <div>SIGNATURE SOUND, ALL AROUND</div>
           <p>Find the right connected <br />speaker for you</p>
        </center>
     </section>

     <section id="regler21">

        <div id="portion">
           <center>
              <img src="https://next.minimog.co/cdn/shop/files/icon-1.png?v=1631805548" alt="" />
              <div>Track focus</div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolr sint occaecat cupidatat non  proiden</p>
           </center>
        </div>

        <div id="portion">
           <center>
              <img src="https://next.minimog.co/cdn/shop/files/icon-2.png?v=1631805584" alt="" />
              <div>Hear more</div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolr sint occaecat cupidatat non proiden</p>
           </center>
        </div>

        <div id="portion">
           <center>
              <img src="https://next.minimog.co/cdn/shop/files/icon-3.png?v=1631805600" alt="" />
              <div>Listion longer</div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolr sint occaecat cupidatat non proiden</p>
           </center>
        </div>

        <div id="portion">
           <center>
              <img src="https://next.minimog.co/cdn/shop/files/icon-4.png?v=1631805615" alt="" />
              <div>Roam free</div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolr sint occaecat cupidatat non proiden</p>
           </center>
        </div>

        <div id="portion">
           <center>
              <img src="https://next.minimog.co/cdn/shop/files/icon-5.png?v=1631805629" alt="" />
              <div>Filter more</div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolr sint occaecat cupidatat non proiden</p>
           </center>
        </div>

     </section>

      <div id="reglerimg">
     <img src="https://next.minimog.co/cdn/shop/files/image-1.jpg?v=1631808086&width=840" alt="" />
     </div>
     <section id="reglerdetail">
       <img src="https://cdn.shopify.com/s/files/1/0595/7291/2305/files/Group1.svg?v=1631809007" alt="" />
       <br /><br />
       <div>Find the right connected speaker for you</div>
       <p>Enjoy rich, immersive sound in every room. Each speaker is carefully
       hand tuned by our engineers to give you the best quality listening
       experience in your space. Hear the difference.

       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
       dolore eu fugiat nulla pariatur.</p>
     </section> 


     {/* <section id="reglerdetail2">
        <img src="https://cdn.shopify.com/s/files/1/0595/7291/2305/files/Group2.svg?v=1631809600" alt="" />
        <div>Welcomes you with a human touch</div>
        <p>Enjoy rich, immersive sound in every room. Each speaker is carefully
           hand tuned by our engineers to give you the best quality listening
           experience in your space. Hear the difference.

           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
           dolore eu fugiat nulla pariatur.
        </p>
        <div id="reglerimg2">
           <img src="https://next.minimog.co/cdn/shop/files/image-2.jpg?v=1631809356&width=840" alt="" />
        </div> 
     </section> */}


     <section id="regler3">
        <center>
           <div>beautiful design </div>
           <p>Chooose your style</p>
        </center>
     
        <section id="regler31">
        <div>
           <img src="https://next.minimog.co/cdn/shop/products/1.1.1.jpg?v=1631845996&width=360" alt="" />
           <p>Wireless Speaker Earth Tone</p>
           <p>$1,365.00</p>
           <button>QUICK ADD</button>
        </div>
        <div>
           <img src="https://next.minimog.co/cdn/shop/products/1.3.1.jpg?v=1631846058&width=360" alt="" />
           <p>Wireless Speaker Gold Tone</p>
           <p>$1,365.00</p>
           <button>QUICK ADD</button>
        </div>
        <div>
           <img src="https://next.minimog.co/cdn/shop/products/1.2.1.jpg?v=1631845921&width=360" alt="" />
           <p>Wireless Speaker Black</p>
           <p>$1,365.00</p>
           <button>QUICK ADD</button>
        </div>
        </section>
     </section>


     {/* <section id="regler4">
     <div>BEAUTIFUL DESIGN </div>
           <p>Maximise the sound
             performance</p>
     <span>Designed to be positioned up against the wall on a
        shelf or side table.</span>
     
     </section> */}
     <section id="regler4" >
        <aside id="aside1">
           <div id="d2">BEAUTIFUL DESIGN </div>
           <p>Maximise the sound <br /> performance</p>
           <span>Designed to be positioned up against the wall on a
        shelf or side table.</span>
        </aside>
     </section>


     <section id="regler5" >
        <aside id="aside2">
           <div id="d3">Sound and style for <br />every home</div>
           <p>Each speaker is carefully hand tuned by our engineers to
              give you the best quality listening experience in your
             space. Hear the difference.</p>
           <button>DOWNLOAD PRODUCT SHEET</button>
        </aside>
     </section> -->
    
</body>
</html> 